body {
     background-image: url(https://cdn.pixabay.com/photo/2020/07/02/04/31/matrix-5361690_960_720.png);
  }
  
  p {
    text-align: center;
  }

  p{
    color: greenyellow;
    background-color: black;
  }

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}

header {
    text-align: center;
}

header h1 {
    margin: 0;
    color: #4CAF50; /* Green color */
}

hr {
    border: 1px solid #4CAF50;
}

.courses, .social, .join {
    margin: 20px 0;
}

.social-btn {
    display: inline-block;
    margin: 10px;
    padding: 8px 16px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50; /* Green color */
    border: 1px solid #4CAF50;
    border-radius: 5px;
}

.float-right {
    float: right;
    margin-right: 20px;
}
