body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:hsl(222, 26%, 31%) ;
}

.keys{
    display: flex;
    flex-direction: column;
    width: min-content;

}

button{
    width: 100px;
    height: 80px;
    border-radius: 20px;
    border: none;
    background-color:hsl(30, 25%, 89%);
    color:hsl(225, 21%, 49%) ;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 hsl(224, 28%, 35%);
}

#calculator{
    background-color: hsl(223, 31%, 20%);
    border-radius: 15px;
    overflow: hiden;
    width: 600px;
    height: 700px;

}

#display{
    
    width: 595px;
    font-size: 5rem;
    text-align: right;
    border: none;
    background-color: hsl(224, 36%, 15%) ;
    color: aliceblue;
    border-radius: 10px;
}

button:hover{
    background-color: aliceblue;
}
.operator-btn:hover{
    background-color: hsl(28, 16%, 65%);
}

.reset{
    width: 240px;
    background-color: hwb(225 39% 41%);
    color: aliceblue;
}

.reset:hover{
    background-color: hsl(224, 28%, 35%);
}

.toloba{
    background-color: hsl(6, 63%, 50%);
    color: aliceblue;
    width: 240px;
}

.toloba:hover{
    background-color: hsl(6, 70%, 34%);
}


.one{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-left: 40px;
    padding-top: 20px;
}


.two{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-left: 40px;
    padding-top: 40px;
}


.three{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-left: 40px;
    padding-top: 40px;
}


.fhour{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-left: 40px;
    padding-top: 60px;
}
.five{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-left: 40px;
    width: max-content;
}