body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* To prevent scrolling */
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(images/us.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    z-index: -1; /* Place the pseudo-element below other content */
    animation: fadeIn 0.7s ease-in-out forwards;
}

.logo {
    height: 140px;
    width: 160px; /* Adjust the width accordingly */
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    margin-left: 35px;
    margin-top: 18px;
    animation: fadeIn 1.5s ease-in-out forwards;
}

.Home{
    float: right;
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-size: x-large;
    font-family: 'Genos', sans-serif;
    transition: background-image 0.7s ease, color 0.7s ease, height 0.7s ease, width 0.7s ease, font-size 0.7s ease;
    border-radius: 10%;
    color: silver;
        background: none;
    border: none;
    outline: none;
}


.About_Us{
    float: right;
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-size: x-large;
    font-family: 'Genos', sans-serif;
    transition: background-image 0.7s ease, color 0.7s ease, height 0.7s ease, width 0.7s ease, font-size 0.7s ease;
    border-radius: 10%;
    color: silver;
         background: none;
    border: none;
    outline: none;
}

.Projects{ 
    float: right;
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-size: x-large;
    font-family: 'Genos', sans-serif;
    transition: background-image 0.7s ease, color 0.7s ease, height 0.7s ease, width 0.7s ease, font-size 0.7s ease;
    border-radius: 10%;
    color: silver;
    background: none;
    border: none;
    outline: none;
     
}

.Contact{
    float: right;
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-size: x-large;
    color: silver;
    border-radius: 10%;
    font-family: 'Genos', sans-serif;
    transition: background-image 0.7s ease, color 0.7s ease, height 0.7s ease, width 0.7s ease, font-size 0.7s ease;
    background: none;
    border: none;
    outline: none;

}

div{
    
    margin-top: 40px;
    float: right;
    margin-right: 640px;
    height: 50px;
    width: 150px;
    font-size: x-large;
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}

.Home:hover{
    color: darkgrey;
    font-weight: bolder;
}

.About_Us:hover{
    color: darkgrey;
    font-weight: bolder;
}

.Projects:hover{
    color: darkgrey;
    font-weight: bolder;
}

.Contact:hover{
    color: darkgrey;
    font-weight: bolder;
}





@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.contact_gmail{
    display: flex;
    margin-top: 267px;
    margin-right: 1350px;
    font-size: 20px;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.contact_number{
    font-size: 18px;
    display: flex;
    margin-right:70px;
    margin-top: 350px;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.street{
    color: aliceblue;
    margin-top: 100px;
    margin-right:1560px;
    font-family: "Roboto", sans-serif;
}



