body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* To prevent scrolling */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(images/Contact\ Page.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    z-index: -1; /* Place the pseudo-element below other content */
    animation: fadeIn 0.7s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.logo {
    height: 140px;
    width: 160px; /* Adjust the width accordingly */
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    margin-left: 35px;
    margin-top: 18px;
    animation: fadeIn 1.5s ease-in-out forwards;
}

.Home{
    float: right;
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-size: x-large;
    font-family: 'Genos', sans-serif;
    transition: background-image 0.7s ease, color 0.7s ease, height 0.7s ease, width 0.7s ease, font-size 0.7s ease;
    border-radius: 10%;
    color: silver;
        background: none;
    border: none;
    outline: none;
}


.About_Us{
    float: right;
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-size: x-large;
    font-family: 'Genos', sans-serif;
    transition: background-image 0.7s ease, color 0.7s ease, height 0.7s ease, width 0.7s ease, font-size 0.7s ease;
    border-radius: 10%;
    color: silver;
    background: none;
    border: none;
    outline: none;
     
}

.Projects{ 
    float: right;
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-size: x-large;
    font-family: 'Genos', sans-serif;
    transition: background-image 0.7s ease, color 0.7s ease, height 0.7s ease, width 0.7s ease, font-size 0.7s ease;
    border-radius: 10%;
    color: silver;
    background: none;
    border: none;
    outline: none;
     
}

.Contact{
    float: right;
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-size: x-large;
    font-family: 'Genos', sans-serif;
    transition: background-image 0.7s ease, color 0.7s ease, height 0.7s ease, width 0.7s ease, font-size 0.7s ease;
    border-radius: 10%;
    color: silver;
    background: none;
    border: none;
    outline: none;
}

nav{
    margin-top: 40px;
    float: right;
    margin-right: 640px;
    height: 50px;
    width: 150px;
    font-size: x-large;
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}

.slogan {
    color: #ffefcb;
    font-size: xxx-large;
    text-decoration: none;
    text-transform: capitalize;
    margin-left: 190px;
    margin-top: 250px;
    font-family: 'Raleway', sans-serif;
    opacity: 0; /* Initial opacity */
    animation: fadeIn 2s ease-in-out forwards; /* Animation name, duration, timing function, and fill mode */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.Home:hover{
    color: darkgrey;
    font-weight: bolder;
}

.About_Us:hover{
    color: darkgrey;
    font-weight: bolder;
}

.Projects:hover{
    color: darkgrey;
    font-weight: bolder;
}

.Contact:hover{
    color: darkgrey;
    font-weight: bolder;
}





@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}